USE [master]
GO
/****** Object:  Database [DBBooks]    Script Date: 08/25/2017 10:56:11 ******/
CREATE DATABASE [DBBooks] ON  PRIMARY 
( NAME = N'DBBooks', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DBBooks.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBBooks_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\DBBooks_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBBooks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBBooks]
GO
/****** Object:  Table [dbo].[tblBooks]    Script Date: 08/25/2017 10:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBooks](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [nvarchar](max) NULL,
	[itemcallnumber] [nvarchar](max) NULL,
	[author] [nvarchar](max) NULL,
	[title] [nvarchar](max) NULL,
	[publishercode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblBooks] ON
INSERT [dbo].[tblBooks] ([BookID], [barcode], [itemcallnumber], [author], [title], [publishercode]) VALUES (1, N'barcode', N'itemcallnumber', N'author', N'title', N'publishercode')
SET IDENTITY_INSERT [dbo].[tblBooks] OFF
/****** Object:  Table [dbo].[tblBarcode]    Script Date: 08/25/2017 10:56:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBarcode](
	[barcodeID] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[barcodeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
