@model Books.Models.BigViewModel
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@using (Html.BeginForm("Index", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data", style = "padding: 0 5vw;" }))
{
    <div class="input-field">
        <label>Upload Data for Books:</label>
        <input type="file" name="excelBooks" required id="BooksData" onchange="fileCheck(this);" />
    </div>
    <br />
    <div class="input-field">
        <label>Upload Data for Barcode:</label>
        <input type="file" name="excelBarcode" required id="BarcodeData" onchange="fileCheck(this);" />
    </div>
    <br />
    <div class="error">
        @ViewBag.InvalidData
    </div>
        <button class="waves-effect waves-light btn red center" style="display: block;">Upload</button>
}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>